<!DOCTYPE html>
<html>
  <head>
    <title>OmniAuth Test</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <%= yield %>
	  <div id="user-widget">
	  	<% if current_user %>
        <div class="logged-in">
  	  		<h2>Welcome <strong><%= current_user.name %></strong>!</h2>
          <br />
	   		  <% if current_user.provider == "facebook" %>
         	  <%= image_tag current_user.normalimage %><br />
  		    <% else %>
    	     <%= image_tag current_user.image %><br />
    		  <% end %> 
    		  <%= button_to "Sign out", signout_path, method: :delete, id: "sign_out" %>
        </div>
  		<% else %>
        <div class="buttons">
    		  <%= button_to "Sign in with Github", "/auth/github" %>
    		  <%= button_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
        </div>
  		<% end %>
	  </div>


  </body>
</html>
